@import '~bootstrap/scss/bootstrap';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark;
}

.title {
  color: $white;
}

// imports all component stylesheets here to use bootstrap variables
@import './Launches.scss';
@import './Launch.scss';
@import './LaunchDetail.scss';
