.launch {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0.5rem;

  > * {
    width: 70%;
    height: 100%;
  }

  .card-header-tabs {
    margin: 0px;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }

  .tab-content {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.launch__header {
  display: flex;
  justify-content: space-between;
}

.launch__intro {
  display: flex;
  height: 128px;
  margin-bottom: 1rem;
}

.launch__thumbnail {
  flex: 0 0 128px;
  line-height: 128px;
  vertical-align: middle;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.launch__desc {
  flex: 1 1 auto;
  padding-left: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;

  h5 {
    text-align: center;
  }
}
